.two {
  color: white;
  background-color: black;
  margin: 10px;
  width: 150px;
  height: 70px;
  display: inline-block;
  display: block;
  flex-wrap: wrap;
  float: right;
}

.textbox-login {
  border-bottom: 1px solid rgba(26, 102, 226, 0.89);
  margin: 20px 20px;
  font-size: 1.2rem;
}

.header {
    /* background: linear-gradient(90deg, rgba(63, 123, 219, 0.836) 0%, rgba(26, 102, 226, 0.89) 100%); */
    height: 90px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(26, 102, 226, 0.89);
    /* justify-content: center;
    align-items: center; */
    font-size: 1.2rem;
}

.title {
    background: linear-gradient(90deg, rgba(63, 123, 219, 0.836) 0%, rgba(26, 102, 226, 0.89) 100%);
    height: 120px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(26, 102, 226, 0.89);
    font-size: 1.2rem
}

/* .header-title{
  color: "primary";
} */

.login-button{
  margin-left: 40px;
  font-size: 1.1rem;
}

.header-logo{
  color: #fff;
  justify-self:start;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}